<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burgers Yum!</title>
  <script src="https://code.jquery.com/jquery.js" defer></script>
  <script src="burgerPage.js" defer></script>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header class="mdc-theme--primary-bg">
    <h1 class="mdc-theme--text-primary-on-primary">Burgers, Yum!</h1>
  </header>
  <main class="container">
    <div class="row">
      {{{ body }}}
    </div>
    <div class="row burger-submission">
      <h2 class="mdc-theme--primary-light-bg mdc-theme--text-primary-on-light">C'mon and add a burg!</h2>
      <form>
        <div class="burger-form mdc-text-field">
          <input class="mdc-text-field__input" type="text" name="burger-name" id="burger-name">
          <label class="mdc-text-field__label mdc-text-field__label--float-above" for="burger-name">Burger name:</label>
        </div>
        <button type="submit" class="form-submit burger-item__button mdc-button mdc-button--raised mdc-theme--secondary-bg mdc-theme--text-primary-on-secondary">Submit burger</button>
      </form>
    </div>
  </main>
  <footer class="mdc-theme--primary-dark-bg">
    <a class="mdc-theme--text-secondary-on-dark" href = "https://github.com/preaksneview/burger" target="_blank">GitHub Link</a>
  </footer>
</body>
</html>