<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burgers Yum!</title>
  <script src="https://code.jquery.com/jquery.js" defer></script>
  <script src="burgerPage.js" defer></script>
  <link rel="stylesheet" href="main.min.css">
</head>
<body>
  <header class="mdc-theme--primary-bg">
    <h1 class="mdc-theme--text-primary-on-primary">Burgers, Yum!</h1>
  </header>
  <main class="container">
    {{{ body }}}
  </main>
  <footer class="mdc-theme--primary-dark-bg">
    <a id="github-link" class="mdc-theme--text-secondary-on-dark" href = "https://github.com/preaksneview/burger" target="_blank">GitHub Link</a>
  </footer>
</body>
</html>