.burger-list {
  align-items: center;
  border: 1px solid $mdc-theme-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 2rem;
  min-width: 40%;
  padding: 0;

  h2 {
    margin: -1px 0 0 -1px;
    padding: .5em;
    text-align: center;
    width: calc(100% + 2px);
  }
}

.burger-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: .5rem;
  min-height: 3rem;
  width: calc(100% - 1rem);

  p {
    align-self: center;
    margin: 0;
  }

  button {
    align-self: center;
  }
}
