* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  padding-left: 1rem;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.row {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

footer {
  width: 100%;
}
